/* game board table */
body{
  background-image: url('https://images.unsplash.com/photo-1498736297812-3a08021f206f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1357&q=80');
}
#column-top > td {
  border-radius: 50%;
}

#column-top td:hover {
  background-color: pink;
}

#column-top td:active{
  transform: scale(.300);
  transition: transform .4s;
}
#header{
  text-align: center;
  font-size: 50px;
  color: white;
}
#game {
  height: 100%;
  text-align: center;
}
td {
  width: 150px;
  height: 150px;
  border: solid 1px black;
 
}

table{
  display: inline-block;
  border-spacing: 20px;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}


.player-1{
  background-color: red;
  border: red;
}

.player-2{
  background-color: blue;
  border: blue;
}
/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

/* TODO: make column-top row lighter and provide hover effect */
